/* Responsive */
@media (max-width: 1800px){
    .section-heading{
        left: 4rem ;
     }
}
@media (min-width: 1500px) and (max-width: 1750px){
    .project{
        width: 34rem;
    }

}
@media (max-width:1499.99px){
 /*  Маленькие круглешки в хедере */
 .circle{
    width: 13rem;
    height: 13rem;
 }
 /* Моя видимый круглешек в хедере */
 .main-circle {
    width: 40rem;
    height: 40rem;
 }
 /* При наведении на мою фотографию картинка увеличивается */
 .main-circle-hover:hover {
    width: 45rem;
    height: 45rem ;
 }
 /* Моя фотография */
 .main-circle img{
    width: 247%;
    height: 427%;
 }
 /* Обо мне слова, welcome */
 .about-me-text span {
    font-size: 11rem;
 }
 /* Отступ вниз от 4-той секции с андерлайнами */
 .section-4{
    margin-bottom: 10rem;
 }
 /* Уменьшаем шрифт кнопок и текста в андерлайнах */
 .service-btn span{
    font-size: 8rem;
 }
 .service-text {
    font-size: 4rem;
 }
 .featured-text-1{
    margin-left: 4.5rem ;
 }
 .featured-text-2{
    margin-right: 5.5rem ;
 }

}


@media(max-width: 1350px){
    /* Главная кнопка */
    .main-btn{
        width: 12.5rem;
        height: 12.5rem;
    }
    /* отвечает за все 4 круглешка в хедере */
    .circle {
        display: none;
    }
    /* Круглешок вниз, который отвечает за навигацию */
    .progress-bar{
        right: 1rem;
        bottom: 0;
    }
    /* Текс обо мне welcome */
    .about-me-text span{
        font-size: 10rem;
    }
}

@media(max-width: 1150px){
    /* Меняет дефолтный рем у всех устройств */
    html{
        font-size: 55%;
    }
    /* Точка и круглешек у курсора */
    /* Говорит мышки нет на этих устройствах */
    .mouse-circle, .mouse-dot {
        display: none;
    }
    /* home about etc, секции в нафигации */
    .navbar-link{
        margin: 0 2rem;
    }
    
    /* Видимый круглешек картинки */
    .main-circle{
        width: 40rem;
        height: 40rem;
    }
    .main-circle-hover:hover{
        width: 45rem;
        height: 45rem;
    }
    /* Teкс обо мне , welcome */
    .about-me-text span{
        font-size: 7.5rem;
    }
    /* Когда нажимаем на проект, открывается большой проект с картинкой*/
    .project-img{
        padding: 7rem 11rem;
    }
    /* Кнопка close / demo */
    .project-hide-btn, .demo{
        right: 2rem;
    }

    /* АНдерлайн ссылка и нижний пробел вместе их общая высота */
    .service-btn{
        height: 12rem;
    }
    /* Андерлайн ссылка на контент */
    .service-btn span{
        font-size: 7rem;
    }
    /* Андерлайн текcт контента внутри */
    .service-text{
        font-size: 3.5rem;
    }
    /* Cлайдер */
    .slideshow{
        margin: 5rem 0;
    }
    .main-circle img{
        top: -275px;
        left: -200px;
    }
}
@media (min-width: 993px) and (max-width:1200px){
    .pos{
        bottom: -15px;
    }
}
@media (max-width: 900px){
    /* иконка меню */
    .menu-icon{
        right: -4rem;
    }
    /*  ячейки ссылок home,about*/
    .navbar-link{
        font-size: 1.5rem;
        margin: 0 1rem;
    }
    /* В хедере у нас есть две надписи хедера strong junior*/
    .featured-text-1{
        margin: 0 auto 0 5rem;
    }
    .featured-text-2{
        margin: 0 5rem 0 auto;
    }
    /* Все остальные надписи имеют этот класс тк они по одной стороне */
    .section-heading{
        left: 5rem;
    }
    /* Текст обо мне, welcome, который появляется автоматически */
    /* Он добавляет другой цвет, чтобы он был ярче на телефонах, мы цвет меняли */
    .about-me-text span {
        font-size: 5.5rem;
        /* color: #ccc; */
    }
    /* АНдерлайн ссылка и нижний пробел вместе их общая высота */
    .service-btn{
        height: 9rem;
    }
     /* Андерлайн ссылка на контент */
    .service-btn span{
        font-size: 5.5rem;
    }
      /* Андерлайн текcт контента внутри */
    .service-text{
        font-size: 3.2rem;
    }
    .progress-bar{
        display: none;
    }
}
@media (min-width: 880px) and (max-width:950px){
    .project{
        width: 32rem;
        margin: 4rem;
    }
}
@media (max-width:700px){
    /* Меняет текст везде где задано в рем */
    html{
        font-size: 45%;
    }
    /* Все инпуты в форме, уменьшает ширину */
    .contact-form-input{
        width: 50rem;
    }
    .navbar-link{
        font-size: 1.3rem;
        margin: 0 0.5rem;
    }
    .main-circle img{
        top: -225px;
        left: -173px;
    }
}

@media (max-width: 550px){
    html{
        font-size: 40%;
    }
    /* Мое фото */
    /* .main-circle img{
        width: 333%;
        height: 668% ;

    } */
    .main-circle img{
        top: -204px;
        left: -152px;
    }
    .service-btn span{
        font-size: 3.5rem;
    }
    .service-text{
        font-size: 3rem;
        /* color: #bbb; */
    }
    .contact-form-input {
        width: 40rem;
    }
    .slideshow {
        width: 45rem;
    }
    .slidershow-link img{
        padding: 0 1.1rem;
    }
    .logo{
        font-size: 4.5rem;
    }
    .page-bg{
            background: linear-gradient(rgba(0, 0, 0, .1),rgba(0,0,0,.9)), url(https://cdn2.vectorstock.com/i/1000x1000/73/51/creative-background-vector-787351.jpg) center no-repeat ;
    }
    .service-btn {
        height: 9rem;
    }
    .section-heading {
        line-height: 6rem;
    }
}
@media (max-width: 400px){
    html{
        font-size: 35%;
    }
    .logo{
        font-size: 4.5rem;
        top: 13rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar{
        justify-content: center;
        padding: 0;
    }
    /* Круглешек в который помещена наша фото */
    .main-circle {
        width: 38rem;
    }
    /* Наше фото */
    .main-circle img{
        top: -175px ;
        left: -127px ;
    }
    /* Надпись когда мы кликаем на инпуты */
    .form-heading{
        font-size: 5rem;
    }

}
@media (min-width: 400px){
    .logo{
        font-size: 2rem;
    }
}
@media(orientation: landscape) and (max-height:420px){
    .form-wrapper{
        margin-top: 25rem;
    }
    .logo{
        top: 3rem;
        left: 8rem;
        font-size: 1.5rem;
    }
    .pos {
        bottom:50px;
        right: 20%;
    }
    .navbar-link:last-child{
        margin-right: 35px;
    }
    .section-heading {
        line-height: 4rem;
    }
}

/* End of Responsive */